$susy-mid: (columns: 12);
$susy-max: (columns: 12);
$breakpoint-small: 400px;
$breakpoint-medium: 600px;
$breakpoint-large: 800px;
$susy: (columns: 12, gutters: 0, container: $breakpoint-large, global-box-sizing: border-box);